$white: #FFFFFF;
body, html{
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-image: url('../img/back.png');
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
}
.nav{
    width: 560px;
    margin: 0 auto;
    &-bar{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        &-link{
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $white;
            padding-bottom: 40px;
            border-bottom: 2px solid transparent;
            transition: 0.2s;
        }
        &-link:hover{
            border-bottom: 2px solid $white;
        }
        &-link:focus{
            border-bottom: 2px solid $white;
        }
        &-link:active{
            border-bottom: 2px solid $white;
        }
    }
}