$white: #FFFFFF;
body, html{
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 1170px;
    margin: 0 auto;
    
}
.nav{
    margin: 0 auto;
    border-bottom: 0.5px solid white;
    &-bar{
        width: 560px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        
        &-link{
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $white;
            padding-bottom: 39px;
            border-bottom: 2px solid transparent;
            transition: 0.2s;
        }
        &-link:hover{
            border-bottom: 2px solid $white;
        }
        &-link:focus{
            border-bottom: 2px solid $white;
        }
        &-link:active{
            border-bottom: 2px solid $white;
        }
    }
        
}
.info{
    width: 830px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 200px;
    color: white;
    &-text{
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 20px;
    }
    &-logo{
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 50px;
    }
    &-button{
        width: 200px;
        height: 45px;
        background: #4985FF;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px;
        border: 0;
        color: white;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 335px;
        &:hover{
            cursor: pointer;
        }
    }
}
.main{
    height: 700px;
    &-info-text{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        align-items: center;
        &-logo{
            width: 740px;
            font-weight: 700;
            font-size: 36px;
            line-height: 53px;
            color: #323232;
        }
        &-text{
            margin-top: 50px;
            width: 740px;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            color: #999999
        }
    }
}